<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>Login or Register | Books</title>
	</head>
	<body>
		<h1>Welcome!</h1>
		<h2>Register</h2>
		{% with messages = get_flashed_messages(category_filter=['regis_errors']) %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li class='error'>{{message}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<form method='post' action='/users/register'>
			<label>Name:</label>
			<input type='text' name='name'>
			<label>Alias:</label>
			<input type='text' name='alias'>
			<label>Email:</label>
			<input type='text' name='email'>
			<label>Password:</label>
			<input type='password' name='password'>
			<label>Confirm Password:</label>
			<input type='password' name='confirm-password'>
			<input type='submit' value='Register'>
		</form>

		<h2>Login</h2>
		{% with messages = get_flashed_messages(category_filter=['login_errors']) %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li class='error'>{{message}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<form method='post' action='/users/login'>
			<label>Email:</label>
			<input type='text' name='email'>
			<label>Password:</label>
			<input type='password' name='password'>
			<input type='submit' value='Login'>
		</form>
	</body>
</html>